<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oauth.resource.mapper.TSurveyDirectoryMapper">

    <resultMap id="BaseResultMap" type="com.camel.oauth.resource.model.TSurveyDirectory">
        <id jdbcType="VARCHAR" column="id"/>
        <result column="survey_name" property="surveyName" jdbcType="VARCHAR"></result>
        <result column="user_id" property="userId" jdbcType="VARCHAR"></result>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"></result>
        <result column="answer_num" property="answerNum" jdbcType="INTEGER"></result>
        <result column="html_path" property="htmlPath" jdbcType="VARCHAR"></result>
        <result column="survey_state" property="surveyState" jdbcType="INTEGER"></result>
        <association javaType="com.camel.oauth.resource.model.TUser" property="tUser">
            <id jdbcType="VARCHAR" column="user_id" property="id"></id>
            <result column="user_name" property="name" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>

    <select id="list" resultMap="BaseResultMap" parameterType="com.camel.oauth.resource.model.TSurveyDirectory">
        SELECT
            sd.survey_name,
            sd.user_id,
            sd.create_date,
            ifnull(sd.answer_num, 0) as answer_num,
            sd.survey_state,
            sd.html_path,
            sd.id,
            u.`name` as user_name
        FROM
            t_survey_directory sd
        LEFT JOIN t_user u ON u.id = sd.user_id
    </select>
</mapper>
